{{#if flashMessages.success_msg}}
    <div class='alert alert-success'> {{flashMessages.success_msg}} </div>
{{/if}}

{{#if flashMessages.error_msg}}
    <div class='alert alert-danger'> {{flashMessages.error_msg}} </div>
{{/if}}